@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;

  /* Animasi */
  --animate-bounce-slow: bounce 3s infinite;
  --animate-fade-in: fadeIn 1s ease-in-out;
  --animate-marquee: marquee 30s linear infinite;

  /* Keyframes */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* FADE ANIMATION MANUAL CLASS */
.fade-in-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}